<!DOCTYPE html>
<html>
  <head>
    <meta lang="en-US" />
    <title>Forgot Password.</title>
  </head>
  <body>
    <p>
      Click on link below to reset your password.<br />
      <a
        href="{{ mail_url }}api/v1/reset-password/verify/{{ user_uid }}/{{ uidb64  }}/{{ token }}/"
        >{{ mail_url }}api/v1/reset-password/verify/{{ user_uid }}/{{ uidb64
        }}/{{ token }}/</a
      >
    </p>
  </body>
</html>
