<!DOCTYPE html>
<html>
  <head>
    <meta lang="en-US" />
    <title>Thank you for signing up.</title>
  </head>
  <body>
    <p>
      Verify your email address by clicking on this link.<br />
      <a href="{{ mail_url }}api/v1/verify/{{ user_uid }}/{{ code }}/"
        >{{ mail_url }}api/v1/verify/{{ user_uid }}/{{ code }}/</a
      >
    </p>
  </body>
</html>
